* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display';
    text-decoration: none;
    list-style: none;
    color: #610C26;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    background: #FFF7D0;
    font-family: 'Playfair Display';
}

.section__header {
    padding-top: 14px;
    background: #B6BDF8;
}

header {
    padding: 0 80px 0;
    height: 59px;
}

.header {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: #FFA800;
    align-items: center;
}

.blog__link {
    padding-left: 15px;
    font-weight: bold;
    font-size: 20px;
}

.blog__link:hover {
    color: #B6BDF8;
}

.blog__icon {
    display: flex;
    flex-direction: row;
}

.header__nav {
    margin-right: 61px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav {
    margin-left: 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
}

.header__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
}

.header__link:hover {
    color: #B6BDF8;
}
.nav__lines {
    width: 25px;
    height: 25px;
}

.button-header-email {
    padding: 20px 35px 19px;
    margin: 61px 351.29px 0px 93.96px;
    width: 216.75px;
    height: 69px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 40px;
    text-decoration: none;
    background: #FFF7D0;
    color: #210505;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    font-family: PT Serif;
}
.button-header-email:hover {
    background-color: #F1F2F6;
}

.icon-header-email {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    top: 21px;
    background: url(../images/letter-logo.svg);
    background-repeat: no-repeat;
}

.greet-background {
    padding-top: 10px;
    background-color: #B6BDF8;
}

.main__greetings {
    max-width: 1440px;
    margin: 0 auto;
    height: 770px;
    background: #FFA800;
}

.main {
    padding: 0 80px 0;
    display: flex;
    justify-content: space-between;
}

.main__text {
    max-width: 662px;
    max-height: 770px;
}

.title {
    font-size: 72px;
    font-weight: 400;
    padding: 100px 0px 34px 0px;
    line-height: 75.6px;
}

.title__text {
    font-size: 22px;
    line-height: 34.1px;
    font-weight: 400;
}

.main__img {
    margin: 38px 33px 40px 58px;
}

.cup {
    max-width: 620px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.cup__image {
    width: 64px;
    height: 64px;
    margin-right: 24px;
}

.cup__text {
    max-width: 400px;
    height: 100%;
    padding-top: 62px;
    padding-bottom: 50px;
}

.cup__text h5 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 7px;
}

.cup__text p {
    text-decoration-line: underline;
}

.cup__text a:hover {
    text-decoration-line: underline;
    color: #F1F2F6;
}

.my-skills {
    max-width: 1440px;
    padding: 0 80px 0;
    margin: 0 auto;
}

.my-skills-wave {
    display: flex;
    flex-direction: row;
    padding-left: 22px;
    padding-right: 22px;
}

.skills-wave-img-left {
    padding-top: 150px;
    max-width: 200px;
}

.wave-big {
    margin-bottom: 27px;
}

.skills__subtitle {
    padding-top: 150px;
    margin: 0 174px 38px;
    font-size: 60px;
    font-style: normal;
    line-height: 54px;
    text-align: center;
}

.skills-wave-img-right {
    padding-top: 150px;
    max-width: 200px;
}

.skills__subsubtitle {
    margin: 0px 419px 0;
    font-size: 52px;
    line-height: 54px;
}

.skills-h4 {
    margin: 78px 823px 0px 22px;
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
}

.ellipse-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 70.4px;
}

.ellips__1,
.ellips__2,
.ellips__3,
.ellips__4 {
    position: relative;
    display: flex;
    margin: 69px 37px 0 0;
    width: 293px;
    height: 106px;
    background-image: radial-gradient(rgba(182, 189, 248, 0.9) 0%, rgba(182, 189, 248, 0.9) 70%, transparent 70%);
}

.text-ellips {
    position: absolute;
    text-align: center;
    padding-top: 34px;
    width: 100%;
}

.text-ellips-style {
    font-size: 30px;
    line-height: 30.8px;
}

.hr-skills {
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 70.4px;
    padding: 0 78.4px 0;
    border: 1px solid rgba(97, 12, 38, 0.2);
}

.projects__wave {
    display: flex;
    flex-direction: row;
    margin-bottom: 26px;
}

.small-wave-red {
    margin-right: 20px;
}

.projects {
    max-width: 1440px;
    padding: 0 80px 0;
    margin: 0 auto;
}

.projects h4 {
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
}

.projects__subsubtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #E30C33;
}

.projects__title {
    max-width: 698px;
    margin-bottom: 86px;
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    /* or 110% */
    color: #610C26;
}

.articles-1-2,
.articles-4-5 {
    display: flex;
    flex-direction: row;
    font-family: PT Serif;
}

.article-1__img,
.article-4__img {
    width: 570px;
    height: 520px;
    margin-right: 93px;
    margin-bottom: 12px;
}

.article-2__img,
.article-5__img {
    width: 570px;
    height: 520px;
    margin-right: 47px;
    margin-bottom: 12px;
}

.project__article-1 {
    display: flex;
    flex-direction: column;
}

.project__link {
    width: 28px;
    height: 28px;
    background: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 570px;
    padding-bottom: 19px;
}

.article-3__img {
    width: 740px;
    height: 559px;
    margin: 167px 311px 14px 229px;
}

.work-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 740px;
    margin: 0 311px 0px 229px;
    padding-bottom: 19px;

}

.articles-1-2 p,
.articles-4-5 p {
    font-family: PT Serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.article-3 p {
    max-width: 740px;
    margin: 0 311px 144px 229px;
    font-family: PT Serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.view-projects-btn {
    padding: 37px 81px;
    height: 122px;
    width: 282px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E30C33;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    margin: 113px 134px 90px 864px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 1px solid #010032;
    border-radius: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.view-projects-btn:hover {
    background-color: #F1F2F6;
    color: #610C26;
}

#services {
    padding-top: 144px;
    background: #FFA800;
}

.services {
    max-width: 1440px;
    padding: 0 80px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__block {
    margin-bottom: 16px;
    width: 420px;
    height: 283px;

}

.services__wave {
    display: flex;
    flex-direction: row;
}

.services__subsubtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.services__subtitle {
    margin-top: 22px;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.small-wave-gray {
    margin-right: 20px;
}

.services h5 {
    margin-top: 20px;
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.services__item {
    width: 290px;
    height: 283px;
}

.circle,
.lamp,
.figure,
.slash {
    margin-top: 19px;
}

.services__item p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    max-width: 289px;
}

.services__item:nth-of-type(3) {
    margin-left: 172.84px;
    margin-bottom: 144px;
}

.button-services {
    width: 352px;
    height: 166px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}

.btn-services {
    margin-left: auto;
    width: 268px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B6BDF8;
    color: #000000;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

@keyframes bounce {
	0%, 10%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}
}

.btn-services:hover {
    background-color: #F1F2F6;
    animation: bounce 1.5s;
}

.big-wave-gray {
    margin-left: auto;
}

#blog {
    padding-top: 36px;
    margin-bottom: 56px;
}

.blog {
    max-width: 1440px;
    padding: 0 80px 0;
    margin: 0 auto;
}

.blog__wave {
    display: flex;
    flex-direction: row;
}

.blog__subsubtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #E30C33;
}

.blog__subtitle {
    margin-top: 20px;
    height: 126px;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 1.2px;
}

.blog__subtitle-btn {
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.blog__link-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #FFF7D0;
    background: #E30C33;
    border-radius: 32px;
    width: 274px;
    height: 65px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.blog__link-btn:hover {
    background-color: #F1F2F6;
    color: #610C26;
    box-shadow: inset 0 0 0 0.5px #E30C33;
}

.blog-arrow-right-publications {
    margin-left: 12px;
    margin-right: 40px;
    width: 24px;
    height: 24px;
    background: url(../images/arrow_right.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.blog-article {
    height: 288px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #D8D8EB;
}

.blog-article__block {
    width: 765px;
}

.blog-article__date {
    margin-left: 61.62px;
    margin-bottom: 13px;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E30C33;
}

.blog-article__title {
    margin-left: 61.62px;
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.blog-article__about {
    margin-left: 61.62px;
    font-size: 12px;
    line-height: 28px;
}

.blog-article__link {
    width: 139px;
    height: 36px;
    font-size: 18px;
    line-height: 25px;
    color: #E30C33;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D8D8EB;
}

.blog-article__link:hover {
    text-decoration-line: underline;
    color: #610C26;
}

.blog-arrow-link {
    background: url(../images/arrow_right_red.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 26px;
    display: inline-block;
}

.about {
    max-width: 1440px;
    padding: 0 80px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-img,
.about__me {
    width: 640px;
    height: 400px;
}

.about__me {
    background: #B6BDF8;
    text-align: center;
}

.about__me-title {
    padding: 104px 248.5px 49px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.about__me p {
    padding: 0px 120px 52px 120px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.link__about {
    padding: 0px 227px 108px 227px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration-line: underline;
}

.link__about:hover {
    color: #610C26;
}

.reviews {
    margin-bottom: 72px;
    max-width: 1440px;
    padding: 58px 80px 0;
    margin: 0 auto;
}

.reviews__wave {
    display: flex;
    flex-direction: row;
}

.reviews__subsubtitle {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #E30C33;
}

.reviews__form {
    margin-bottom: 71px;
    padding-top: 50px;
    width: 1280px;
    height: 124px;
    width: 1280px;
    background: rgba(255, 255, 255, 0.68);
    border: 1px solid #F1F2F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
}

#contacts {

    background-color: #FFA800;
}

.contacts__wave {
    max-width: 1440px;
    padding: 96px 80px 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.contacts__subsubtitle {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 247, 208, 1)
}

.running-string {
    max-width: 1440px;
    padding: 0px 80px 126px;
    margin: 0 auto;
}

.running-string__text {
    margin-left: -200px;
    color: #FFF7D0;
    font-size: 60px;
    line-height: 66px;
    width: max-content;
    font-family: Epilogue;
}
  
.footer {
    background-color: #FFA800;
}

.footer__container {
    max-width: 1440px;
    padding: 0px 80px 58px;
    margin: 0 auto;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-email {
    margin-right: 131px;
    width: 220px;
    height: 32px;
    font-size: 17px;
    line-height: 28px;
    color: #FFF7D0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-email:hover {
    text-decoration-line: underline;
    color: #6495ED;
}

.footer__navigation {
    column-count: 2;
    list-style-type: decimal;
    height: 275px;
}

.footer__navigation-link {
    margin-bottom: 18px;
    width: 167px;
    font-size: 18px;
    line-height: 28px;
}

.footer__navigation-link:hover {
    text-decoration-line: underline;
}


.footer__navigation-link:nth-of-type(2) {
    padding-right: 10px;
}

.nav-footer-color {
    color: #FFF7D0;
}

.subscibtion p {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 28px;
    color: #FFF7D0;
}

form {
    display: flex;
}

.subscribe-placeholder {
    padding: 0;
    margin-right: 20px;
    height: 48px;
    width: 290px;
    border: 1px solid rgba(7, 7, 7, 0.16);
    border-radius: 240px;
    background-color: #FFA800;
    outline: 0 !important;
    text-align: center;
    color: #FFF7D0;
    overflow: hidden;
}

.subscribe {
    margin-right: 10px;
    height: 48px;
    width: 140px;
    background-color: #FFF7D0;
    border-radius: 240px;
    border: none;
    cursor: pointer;
}

.subscribe:hover {
    background-color: #FFFAFA;
}

.subscribe-img {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(../images/hand_pointing_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.copyright {
    margin-top: 38px;
    font-size: 16px;
    line-height: 24px;
    color: #FFF7D0;
}